<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>

      <div class="footer-col footer-col-3">
          {% include icon-twitter.html username=site.twitter_username %}
      </div>
    </div>

  </div>

</footer>
